<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBaseConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SQL_Project;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>